body {
    background-color: rgb(244, 121, 244);
}

h1 {
    color: black;
    text-align: center;
    font-family: Luminari, fantasy;
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-family: Luminari, fantasy;
}
.board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    justify-content: center;
  }